.search{
    margin-left: 20px;
}
input {
    width: 40%;
    height: 44px;
    padding-left: 15px;
    border: 1px solid rgba(51, 51, 51, 0.2);;
    
}

table 
{
    width: 100%;
}
table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

.clients_name{
   font-weight: bold;
   font-size: 20px;
   margin-left: 20px;
}
.add_client{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

